.globalContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 15rem 15rem 0rem 0rem;
  background-color: #000000eb;
}

.globalContainer img {
  height: 4rem;
  margin-top: 0.5rem;
}

@media (min-width: 767px) {
}
