.globalContainer {
  position: absolute;
  margin-bottom: 1rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.globalContainer img {
  height: 4rem;
}

.miniGlobalContainer {
  height: 5rem;
  width: 70%;
  padding-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #013aaba1;
  border-radius: 5rem;
  -webkit-box-shadow: 1px 1px 13px 1px #000000;
  box-shadow: 1px 1px 13px 1px #000000;
  max-width: 30rem;
}

@media (min-width: 767px) {
}
