.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 10rem;
}

h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.svgLogo {
  height: 10rem;
  border-radius: 50%;
}

.logoContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.loginLogic {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginLogic input {
  padding-left: 1rem;
  margin: 1rem;
  height: 2rem;
  width: 70%;
  border-radius: 1rem;
  background-color: #000000b2;
  border: none;
  color: white;
}

.loginLogic input::placeholder {
  color: white;

  font-style: italic;
}

.loginLogic button {
  font-weight: bold;
  margin-top: 3rem;
  height: 2.5rem;
  width: 50%;
  background-color: #000000eb;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 767px) {
  .logoSVG {
    height: 30rem;
  }
}
